<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Goodman Lawn</h1>
    <br />
    <h2>Hendersonville, TN</h2>
    <br />
    <p>Jeff Goodman</p>
    <p>Cell: 615-330-5534
    <br /><br />
    <!-- <%= link_to 'About Us', '#', class: 'btn btn-success' %> -->
    <br /><br /> 
  </div>
</div>

<br /><br />

<div class="row feature text-center">
  <div class="text-box col-12 col-sm">
    <div class="inside-box">
      <h3>Mowing</h3>
      <br />
      <p>Clean lines with an optimal height makes for a perfectly manicured lawn!</p>
    </div>
  </div>
  <div class="booyah-box col-12 col-sm offset-1">
    <%= image_tag("mower.jpg", class: "img-responsive") %>
  </div>
</div>
<br /><br />

<div class="row feature text-center">
  <div class="booyah-box col-12 col-sm">
    <%= image_tag("mulch.jpg", class: "img-responsive") %>
  </div>
  <div class="text-box col-12 col-sm offset-1">
    <div class="inside-box">
      <h3>Mulching</h3>
      <br />
      <p>Flower beds need a quick face lift? We can help with a fresh layer of mulch to keep your yard looking great all summer!</p>
    </div>
  </div>
</div>
<br /><br />

<div class="row feature text-center">
  <div class="text-box col-12 col-sm">
    <div class="inside-box">
      <h3>Pressure Washing</h3>
      <br />
      <p>Sidewalks, driveways, decks, fencing, and more will look great when we get through!</p>
    </div>
  </div>
  <div class="booyah-box col-12 col-sm offset-1">
    <%= image_tag("pressure-washing.jpg", class: "img-responsive") %>
  </div>
</div>
<br /><br />
